{
  "openapi": "3.1.0",
  "info": {
    "title": "Sendero Agent Tools",
    "version": "1.0.0",
    "description": "The Sendero tool registry — a single surface for travel booking, treasury rebalancing, OCR, trip-document verification, and guest-escrow settlement.\n\n## Authentication\n\nEvery call is authenticated with a Clerk-issued API key (`Authorization: Bearer ak_…`). Mint one at [`/dashboard/settings/api-keys`](https://www.sendero.travel/dashboard/settings/api-keys). Keys are tenant-scoped; the server derives both `tenantId` and the service-account `userId` from the key.\n\n## Dispatch shape\n\nEvery tool is callable via `POST /api/agent/dispatch` with `{ tool, args, tenantId }` in the body. The same tools are also exposed via MCP at `/api/mcp` for agent runtimes that prefer the MCP protocol.\n\n## Pricing\n\nEach call bills a per-tool nanopayment in micro-USDC via x402. See [`packages/tools/src/pricing.ts`](https://github.com/tcxcx/sendero/blob/main/packages/tools/src/pricing.ts) for the catalog. SaaS plan tiers grant a discount on the nanopayment rate.",
    "contact": {
      "name": "Sendero Developer Experience",
      "url": "https://docs.sendero.travel"
    }
  },
  "servers": [
    {
      "url": "https://www.sendero.travel",
      "description": "Production"
    },
    {
      "url": "https://preview.sendero.travel",
      "description": "Preview"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClerkApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "ak_… (Clerk-issued)",
        "description": "Mint a production key at /dashboard/settings/api-keys. Sandbox keys are auto-issued on tenant creation and don't move real USDC."
      }
    },
    "schemas": {
      "SearchFlightsInput": {
        "type": "object",
        "required": ["origin", "destination", "departureDate"],
        "properties": {
          "origin": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "IATA, e.g. SFO"
          },
          "destination": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "description": "IATA, e.g. LHR"
          },
          "departureDate": {
            "type": "string",
            "description": "YYYY-MM-DD"
          },
          "returnDate": {
            "type": "string",
            "description": "YYYY-MM-DD (optional)"
          },
          "passengers": {
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "maximum": 9
          },
          "cabinClass": {
            "type": "string",
            "enum": ["economy", "premium_economy", "business", "first"],
            "default": "economy"
          },
          "privateFares": {
            "type": "object",
            "description": "Keyed by airline IATA code. Each entry is an array of credentials: { corporate_code, tour_code, tracking_reference, account_number }. See /guides/accessing-corporate-private-fares and /guides/adding-corporate-loyalty-programme-accounts.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "corporate_code": {
                    "type": "string"
                  },
                  "tour_code": {
                    "type": "string"
                  },
                  "tracking_reference": {
                    "type": "string"
                  },
                  "account_number": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "leisureFareTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "student",
                "senior",
                "contract_bulk",
                "contract_bulk_child",
                "contract_bulk_infant_with_seat",
                "contract_bulk_infant_without_seat",
                "tour",
                "air_crew",
                "visiting_friends_and_family"
              ]
            }
          },
          "loyaltyProgrammeAccounts": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "object",
                "required": ["airlineIataCode", "accountNumber"],
                "properties": {
                  "airlineIataCode": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "accountNumber": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "airlineCreditIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "customerUserId": {
            "type": "string"
          },
          "linkSessionTraveler": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "BookFlightInput": {
        "type": "object",
        "required": ["offerId"],
        "properties": {
          "offerId": {
            "type": "string"
          },
          "services": {
            "type": "array",
            "description": "Ancillary service ids + quantities from list_flight_ancillaries.",
            "items": {
              "type": "object",
              "required": ["id"],
              "properties": {
                "id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "default": 1,
                  "minimum": 1,
                  "maximum": 9
                }
              }
            }
          },
          "additionalCustomerUserIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Additional icu_… ids to attach (personal assistant, team lead, etc.). The primary traveler is auto-resolved from the session."
          },
          "airlineCreditId": {
            "type": "string",
            "description": "Airline credit id (acd_…) to redeem toward this booking. Remainder paid from balance."
          }
        }
      },
      "SearchHotelsInput": {
        "type": "object",
        "required": ["location", "checkInDate", "checkOutDate"],
        "properties": {
          "location": {
            "type": "string",
            "description": "City, neighborhood, or airport code. Free-form text works."
          },
          "checkInDate": {
            "type": "string",
            "description": "YYYY-MM-DD"
          },
          "checkOutDate": {
            "type": "string",
            "description": "YYYY-MM-DD"
          },
          "guests": {
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "maximum": 9
          },
          "rooms": {
            "type": "integer",
            "default": 1,
            "minimum": 1,
            "maximum": 9
          }
        }
      },
      "CheckTreasuryInput": {
        "type": "object",
        "properties": {}
      },
      "GatewayBalanceInput": {
        "type": "object",
        "properties": {}
      },
      "GatewayTransferInput": {
        "type": "object",
        "required": ["from", "to", "amount"],
        "properties": {
          "from": {
            "type": "string",
            "enum": [
              "Arc_Testnet",
              "Ethereum_Sepolia",
              "Base_Sepolia",
              "Avalanche_Fuji",
              "Optimism_Sepolia",
              "Arbitrum_Sepolia",
              "Polygon_Amoy"
            ],
            "description": "Source chain key"
          },
          "to": {
            "type": "string",
            "enum": [
              "Arc_Testnet",
              "Ethereum_Sepolia",
              "Base_Sepolia",
              "Avalanche_Fuji",
              "Optimism_Sepolia",
              "Arbitrum_Sepolia",
              "Polygon_Amoy"
            ],
            "description": "Destination chain key (usually Arc_Testnet)"
          },
          "amount": {
            "type": "string",
            "description": "Decimal USDC amount, e.g. \"5.00\""
          },
          "recipient": {
            "type": "string",
            "description": "0x-address on destination (defaults to treasury)"
          }
        }
      },
      "SwapTokensInput": {
        "type": "object",
        "required": ["fromToken", "toToken", "amount"],
        "properties": {
          "fromToken": {
            "type": "string",
            "enum": ["USDC", "EURC"]
          },
          "toToken": {
            "type": "string",
            "enum": ["USDC", "EURC"]
          },
          "amount": {
            "type": "string",
            "description": "Decimal amount, e.g. \"5.00\""
          }
        }
      },
      "SendTokensInput": {
        "type": "object",
        "required": ["to", "amount"],
        "properties": {
          "to": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "amount": {
            "type": "string"
          },
          "token": {
            "type": "string",
            "enum": ["USDC", "EURC"],
            "default": "USDC"
          }
        }
      },
      "BridgeToArcInput": {
        "type": "object",
        "required": ["fromChain", "amount"],
        "properties": {
          "fromChain": {
            "type": "string",
            "enum": [
              "Arbitrum",
              "Avalanche",
              "Base",
              "Codex",
              "Edge",
              "Ethereum",
              "HyperEVM",
              "Ink",
              "Linea",
              "Monad",
              "Morph",
              "Optimism",
              "Plume",
              "Polygon",
              "Sei",
              "Solana",
              "Sonic",
              "Unichain",
              "World_Chain",
              "XDC",
              "Arc_Testnet",
              "Arbitrum_Sepolia",
              "Avalanche_Fuji",
              "Base_Sepolia",
              "Codex_Testnet",
              "Edge_Testnet",
              "Ethereum_Sepolia",
              "HyperEVM_Testnet",
              "Ink_Testnet",
              "Linea_Sepolia",
              "Monad_Testnet",
              "Morph_Testnet",
              "Optimism_Sepolia",
              "Plume_Testnet",
              "Polygon_Amoy_Testnet",
              "Sei_Testnet",
              "Solana_Devnet",
              "Sonic_Testnet",
              "Unichain_Sepolia",
              "World_Chain_Sepolia",
              "XDC_Apothem"
            ]
          },
          "amount": {
            "type": "string"
          }
        }
      },
      "SwapAndBridgeInput": {
        "type": "object",
        "required": ["fromChain", "amount"],
        "properties": {
          "fromChain": {
            "type": "string",
            "enum": [
              "Arbitrum",
              "Avalanche",
              "Base",
              "Codex",
              "Edge",
              "Ethereum",
              "HyperEVM",
              "Ink",
              "Linea",
              "Monad",
              "Morph",
              "Optimism",
              "Plume",
              "Polygon",
              "Sei",
              "Solana",
              "Sonic",
              "Unichain",
              "World_Chain",
              "XDC",
              "Arc_Testnet",
              "Arbitrum_Sepolia",
              "Avalanche_Fuji",
              "Base_Sepolia",
              "Codex_Testnet",
              "Edge_Testnet",
              "Ethereum_Sepolia",
              "HyperEVM_Testnet",
              "Ink_Testnet",
              "Linea_Sepolia",
              "Monad_Testnet",
              "Morph_Testnet",
              "Optimism_Sepolia",
              "Plume_Testnet",
              "Polygon_Amoy_Testnet",
              "Sei_Testnet",
              "Solana_Devnet",
              "Sonic_Testnet",
              "Unichain_Sepolia",
              "World_Chain_Sepolia",
              "XDC_Apothem"
            ]
          },
          "amount": {
            "type": "string",
            "description": "USDC amount to bridge and swap, e.g. \"5.00\""
          },
          "targetToken": {
            "type": "string",
            "enum": ["USDC", "EURC"],
            "default": "EURC"
          }
        }
      },
      "SettleSplitInput": {
        "type": "object",
        "required": ["gross", "supplier"],
        "properties": {
          "gross": {
            "type": "string",
            "description": "Total booking amount in USDC (decimal string)."
          },
          "supplier": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "commissionBps": {
            "type": "integer",
            "default": 1000
          },
          "senderoFeeBps": {
            "type": "integer",
            "default": 100
          }
        }
      },
      "CheckPolicyInput": {
        "type": "object",
        "required": ["policyId", "offer"],
        "properties": {
          "policyId": {
            "type": "string",
            "enum": ["vale-corp-2026", "softtek-mx-2026", "default-corp"],
            "description": "Corporate travel policy identifier."
          },
          "offer": {
            "type": "object",
            "required": ["kind", "priceUsd"],
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["flight", "hotel"]
              },
              "priceUsd": {
                "type": "number"
              },
              "carrierIata": {
                "type": "string"
              },
              "durationHours": {
                "type": "number"
              },
              "cabin": {
                "type": "string",
                "enum": ["economy", "premium_economy", "business", "first"]
              },
              "supplierId": {
                "type": "string"
              },
              "pricePerNightUsd": {
                "type": "number"
              }
            }
          }
        }
      },
      "QuoteFxInput": {
        "type": "object",
        "required": ["fromCurrency", "toCurrency", "amount"],
        "properties": {
          "fromCurrency": {
            "type": "string"
          },
          "toCurrency": {
            "type": "string",
            "enum": ["USDC", "USD", "EURC"]
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "GiveFeedbackInput": {
        "type": "object",
        "required": ["subjectAgentId", "stars", "tag", "fromKind"],
        "properties": {
          "subjectAgentId": {
            "type": "string",
            "pattern": "^\\d+$"
          },
          "stars": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5
          },
          "tag": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "fromKind": {
            "type": "string",
            "enum": ["org", "user"]
          },
          "fromTenantId": {
            "type": "string"
          },
          "fromUserId": {
            "type": "string"
          },
          "tripId": {
            "type": "string"
          },
          "bookingId": {
            "type": "string"
          },
          "evidenceUri": {
            "type": "string"
          }
        }
      },
      "ReadReputationInput": {
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "agentId": {
            "type": "string",
            "pattern": "^\\d+$"
          },
          "recentLimit": {
            "type": "integer",
            "minimum": 0,
            "maximum": 50,
            "default": 10
          }
        }
      },
      "RequestValidationInput": {
        "type": "object",
        "required": ["subjectAgentId", "validatorAddress", "tag", "ownerWalletAddress"],
        "properties": {
          "subjectAgentId": {
            "type": "string",
            "pattern": "^\\d+$"
          },
          "validatorAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "tag": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "requestUri": {
            "type": "string"
          },
          "ownerWalletAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "seed": {
            "type": "string"
          }
        }
      },
      "SubmitValidationResponseInput": {
        "type": "object",
        "required": ["requestHash", "response", "tag", "validatorWalletAddress"],
        "properties": {
          "requestHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$"
          },
          "response": {
            "type": "integer",
            "enum": [0, 100]
          },
          "tag": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "validatorWalletAddress": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{40}$"
          },
          "responseUri": {
            "type": "string"
          }
        }
      },
      "ReadValidationInput": {
        "type": "object",
        "required": ["requestHash"],
        "properties": {
          "requestHash": {
            "type": "string",
            "pattern": "^0x[a-fA-F0-9]{64}$"
          }
        }
      },
      "PrefundTripInput": {
        "type": "object",
        "required": ["budgetUsdc"],
        "properties": {
          "budgetUsdc": {
            "type": "string",
            "description": "Trip budget in decimal USDC."
          },
          "expiresInDays": {
            "type": "integer",
            "default": 30,
            "minimum": 1,
            "maximum": 365
          },
          "metadataCID": {
            "type": "string",
            "description": "Optional IPFS CID for trip intent JSON."
          },
          "metadataHash": {
            "type": "string",
            "description": "keccak256 of the trip intent."
          },
          "agentTokenId": {
            "type": "string",
            "description": "ERC-8004 agent token id."
          },
          "escrowAddress": {
            "type": "string",
            "description": "Override the default escrow address."
          },
          "linkOrigin": {
            "type": "string",
            "description": "Override the guest link origin."
          },
          "require2fa": {
            "type": "boolean",
            "default": false,
            "description": "Require a 6-digit OTP at claim time (out-of-band share)."
          },
          "guestEmail": {
            "type": "string",
            "description": "Email the guest directly when provided."
          },
          "guestName": {
            "type": "string",
            "description": "Display name for the email greeting."
          },
          "buyerName": {
            "type": "string",
            "description": "Buyer display name in subject + greeting."
          },
          "tripSummary": {
            "type": "string",
            "description": "Short route summary for email copy."
          }
        }
      },
      "GuestClaimLinkInput": {
        "type": "object",
        "required": ["guestLink", "guestWallet"],
        "properties": {
          "guestLink": {
            "type": "string"
          },
          "guestWallet": {
            "type": "string"
          },
          "chainId": {
            "type": "integer",
            "default": 5042002
          },
          "escrowAddress": {
            "type": "string"
          },
          "claimCode": {
            "type": "string",
            "description": "6-digit OTP if 2FA is on."
          },
          "codeNonce": {
            "type": "string",
            "description": "32-byte nonce returned by prefund_trip."
          }
        }
      },
      "ReserveBookingInput": {
        "type": "object",
        "required": ["tripId", "upperBoundUsdc"],
        "properties": {
          "tripId": {
            "type": "string"
          },
          "upperBoundUsdc": {
            "type": "string"
          },
          "bookingId": {
            "type": "string"
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "CommitBookingInput": {
        "type": "object",
        "required": ["bookingId", "vendorAmountUsdc", "vendorAddress", "itineraryHash"],
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "vendorAmountUsdc": {
            "type": "string"
          },
          "feeAmountUsdc": {
            "type": "string",
            "default": "0"
          },
          "vendorAddress": {
            "type": "string"
          },
          "itineraryHash": {
            "type": "string"
          },
          "itineraryCID": {
            "type": "string"
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "ConfirmBookingInput": {
        "type": "object",
        "required": ["bookingId", "costMicroUsdc", "itineraryHash", "vendorAddress"],
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "costMicroUsdc": {
            "type": "string",
            "description": "Supplier net rate in micro-USDC (decimal string)."
          },
          "markupBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          "markupMicroUsdc": {
            "type": "string"
          },
          "override": {
            "type": "object",
            "properties": {
              "reason": {
                "type": "string",
                "enum": ["ceiling_acknowledged"]
              },
              "acknowledgedMicroUsdc": {
                "type": "string"
              }
            },
            "required": ["reason", "acknowledgedMicroUsdc"]
          },
          "itineraryHash": {
            "type": "string"
          },
          "itineraryCID": {
            "type": "string"
          },
          "vendorAddress": {
            "type": "string"
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "ConfirmFlightInput": {
        "type": "object",
        "required": ["bookingId", "ticketOrderHash"],
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "ticketOrderHash": {
            "type": "string"
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "SettleBookingInput": {
        "type": "object",
        "required": ["bookingId"],
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "CancelBookingInput": {
        "type": "object",
        "required": ["bookingId", "tripId", "reason"],
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "tripId": {
            "type": "string"
          },
          "reason": {
            "type": "string",
            "enum": ["duffel_failed", "policy_reject", "buyer_cancel", "timeout"]
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "GenerateBookingInvoiceInput": {
        "type": "object",
        "required": ["bookingId"],
        "properties": {
          "bookingId": {
            "type": "string",
            "description": "Escrow bookingId hex32 — matched via Booking.externalId."
          },
          "settleTxHash": {
            "type": "string",
            "description": "Tx hash of the settle_booking on-chain call."
          }
        }
      },
      "GetTenantPricingPolicyInput": {
        "type": "object",
        "additionalProperties": false,
        "properties": {}
      },
      "ActivateTenantPricingPolicyInput": {
        "type": "object",
        "required": ["markupConfig"],
        "properties": {
          "markupConfig": {
            "type": "object",
            "description": "Per-BookingKind markup config. v1 honors only { strategy: \"static\", bps: <int 0..10000> }."
          },
          "floorMicroUsdc": {
            "type": "string",
            "description": "Optional non-negative micro-USDC floor on tenant markup."
          },
          "ceilingMicroUsdc": {
            "type": "string",
            "description": "Optional non-negative micro-USDC ceiling on tenant markup. Null = none."
          },
          "senderoTakeBehavior": {
            "type": "string",
            "enum": ["add_to_customer", "deduct_from_markup"]
          }
        }
      },
      "LogAgentActionInput": {
        "type": "object",
        "required": ["tripId"],
        "properties": {
          "tripId": {
            "type": "string"
          },
          "actionType": {
            "type": "string",
            "enum": ["search", "chat", "hold", "commit", "other"],
            "default": "other"
          },
          "feeMicroUsdc": {
            "type": "string",
            "default": "0"
          },
          "escrowAddress": {
            "type": "string"
          }
        }
      },
      "GeocodeTripStopInput": {
        "type": "object",
        "required": ["address"],
        "properties": {
          "address": {
            "type": "string",
            "description": "Free-form address, place name, or stop text."
          },
          "languageCode": {
            "type": "string",
            "description": "BCP-47 language code.",
            "default": "en"
          },
          "regionCode": {
            "type": "string",
            "description": "Optional region code such as US or AR."
          }
        }
      },
      "TripWeatherBriefInput": {
        "type": "object",
        "required": ["latitude", "longitude"],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "unitsSystem": {
            "type": "string",
            "enum": ["METRIC", "IMPERIAL"],
            "default": "METRIC"
          },
          "languageCode": {
            "type": "string",
            "default": "en"
          }
        }
      },
      "AirQualityBriefInput": {
        "type": "object",
        "required": ["latitude", "longitude"],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "languageCode": {
            "type": "string",
            "default": "en"
          }
        }
      },
      "ValidateTravelAddressInput": {
        "type": "object",
        "required": ["addressLines"],
        "properties": {
          "addressLines": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Address lines in mailing-address order."
          },
          "regionCode": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "administrativeArea": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          }
        }
      },
      "TimezoneBriefInput": {
        "type": "object",
        "required": ["latitude", "longitude"],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix seconds. Defaults to now."
          },
          "language": {
            "type": "string"
          }
        }
      },
      "ElevationRiskBriefInput": {
        "type": "object",
        "required": ["latitude", "longitude"],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          }
        }
      },
      "TravelSafetyAidInput": {
        "type": "object",
        "required": ["latitude", "longitude"],
        "properties": {
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "addressLines": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "regionCode": {
            "type": "string"
          },
          "travelerNotes": {
            "type": "string"
          },
          "languageCode": {
            "type": "string",
            "default": "en"
          }
        }
      },
      "RecommendRestaurantsInput": {
        "type": "object",
        "required": ["location"],
        "properties": {
          "location": {
            "type": "string",
            "description": "City, neighborhood, landmark, or free-form text."
          },
          "cuisine": {
            "type": "string",
            "description": "Optional cuisine hint (e.g. parrilla, sushi, vegan)."
          },
          "priceLevel": {
            "type": "string",
            "enum": ["inexpensive", "moderate", "expensive", "very_expensive"],
            "description": "Filter by price tier."
          },
          "partySize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "limit": {
            "type": "integer",
            "default": 6,
            "minimum": 1,
            "maximum": 10
          },
          "languageCode": {
            "type": "string",
            "default": "en",
            "description": "BCP-47 language code steering returned text (e.g. en, es, pt)."
          }
        }
      },
      "ExportRouteMapInput": {
        "type": "object",
        "required": ["stops"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Short itinerary title for the share card."
          },
          "stops": {
            "type": "array",
            "minItems": 2,
            "maxItems": 10,
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "latitude": {
                  "type": "number"
                },
                "longitude": {
                  "type": "number"
                },
                "placeId": {
                  "type": "string"
                }
              }
            },
            "description": "Ordered route stops. Each stop needs an address or both latitude and longitude."
          },
          "mode": {
            "type": "string",
            "enum": ["driving", "walking", "transit", "bicycling"],
            "default": "driving"
          },
          "channel": {
            "type": "string",
            "enum": ["whatsapp", "slack", "web", "email", "mcp"],
            "default": "web"
          },
          "notes": {
            "type": "string"
          },
          "includeStaticMap": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "RestaurantRouteCardInput": {
        "type": "object",
        "required": ["location"],
        "properties": {
          "location": {
            "type": "string",
            "description": "City, neighborhood, or landmark."
          },
          "cuisine": {
            "type": "string"
          },
          "priceLevel": {
            "type": "string",
            "enum": ["inexpensive", "moderate", "expensive", "very_expensive"]
          },
          "partySize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "limit": {
            "type": "integer",
            "default": 3,
            "minimum": 1,
            "maximum": 5
          },
          "languageCode": {
            "type": "string",
            "default": "en"
          },
          "fromLabel": {
            "type": "string",
            "description": "Label for the route start, e.g. \"Hotel Park Hyatt\"."
          },
          "fromAddress": {
            "type": "string"
          },
          "fromLatitude": {
            "type": "number"
          },
          "fromLongitude": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": ["driving", "walking", "transit", "bicycling"],
            "default": "walking"
          },
          "occasion": {
            "type": "string"
          }
        }
      },
      "AirportTransferCoordinatorInput": {
        "type": "object",
        "required": ["airport", "destinationAddress"],
        "properties": {
          "airport": {
            "type": "string",
            "description": "IATA code, airport name, or free-form text for the arrival airport."
          },
          "airportLatitude": {
            "type": "number"
          },
          "airportLongitude": {
            "type": "number"
          },
          "destinationLabel": {
            "type": "string",
            "description": "Short label for the destination."
          },
          "destinationAddress": {
            "type": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "CLDR region code, e.g. AR, US, FR."
          },
          "languageCode": {
            "type": "string",
            "default": "en"
          },
          "arrivalTimeIso": {
            "type": "string",
            "description": "ISO 8601 scheduled arrival."
          },
          "travelerCount": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "default": 1
          },
          "mode": {
            "type": "string",
            "enum": ["driving", "transit", "walking"],
            "default": "driving"
          },
          "includeSafety": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "AirportArrivalPlaybookInput": {
        "type": "object",
        "required": ["airport", "destinationAddress"],
        "properties": {
          "airport": {
            "type": "string"
          },
          "airportLatitude": {
            "type": "number"
          },
          "airportLongitude": {
            "type": "number"
          },
          "destinationLabel": {
            "type": "string"
          },
          "destinationAddress": {
            "type": "string"
          },
          "regionCode": {
            "type": "string"
          },
          "languageCode": {
            "type": "string",
            "default": "en"
          },
          "arrivalTimeIso": {
            "type": "string"
          },
          "travelerName": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "pnr": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": ["driving", "transit", "walking"],
            "default": "driving"
          }
        }
      },
      "TripCheckinReminderInput": {
        "type": "object",
        "required": ["origin", "departureDateTimeIso"],
        "properties": {
          "pnr": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "carrier": {
            "type": "string"
          },
          "origin": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          },
          "destination": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          },
          "departureDateTimeIso": {
            "type": "string",
            "description": "ISO 8601 departure time."
          },
          "airportLatitude": {
            "type": "number"
          },
          "airportLongitude": {
            "type": "number"
          },
          "stayLabel": {
            "type": "string"
          },
          "stayAddress": {
            "type": "string"
          },
          "stayLatitude": {
            "type": "number"
          },
          "stayLongitude": {
            "type": "number"
          },
          "transferMode": {
            "type": "string",
            "enum": ["driving", "transit"],
            "default": "driving"
          },
          "travelerName": {
            "type": "string"
          },
          "checkInWindowHours": {
            "type": "integer",
            "minimum": 1,
            "maximum": 72,
            "default": 24
          },
          "language": {
            "type": "string",
            "default": "en"
          }
        }
      },
      "TripDelayReplannerInput": {
        "type": "object",
        "required": ["originalLeg", "disruption", "rebookSearch"],
        "properties": {
          "originalLeg": {
            "type": "object",
            "required": ["origin", "destination", "scheduledDepartureIso"],
            "properties": {
              "pnr": {
                "type": "string"
              },
              "flightNumber": {
                "type": "string"
              },
              "carrier": {
                "type": "string"
              },
              "origin": {
                "type": "string",
                "minLength": 3,
                "maxLength": 3
              },
              "destination": {
                "type": "string",
                "minLength": 3,
                "maxLength": 3
              },
              "scheduledDepartureIso": {
                "type": "string"
              }
            }
          },
          "disruption": {
            "type": "object",
            "required": ["kind"],
            "properties": {
              "kind": {
                "type": "string",
                "enum": ["delay", "cancellation", "missed_connection", "weather", "other"]
              },
              "earliestUsableDepartureIso": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              }
            }
          },
          "rebookSearch": {
            "type": "object",
            "required": ["departureDate"],
            "properties": {
              "departureDate": {
                "type": "string",
                "description": "YYYY-MM-DD"
              },
              "passengers": {
                "type": "integer",
                "minimum": 1,
                "maximum": 9,
                "default": 1
              },
              "cabinClass": {
                "type": "string",
                "enum": ["economy", "premium_economy", "business", "first"],
                "default": "economy"
              }
            }
          },
          "needsHotelFallback": {
            "type": "boolean",
            "default": false
          },
          "stayLocation": {
            "type": "string"
          },
          "stayCheckInDate": {
            "type": "string"
          },
          "stayCheckOutDate": {
            "type": "string"
          },
          "travelerLabel": {
            "type": "string"
          },
          "notifyChannels": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["whatsapp", "slack", "email"]
            },
            "default": ["whatsapp", "slack"]
          },
          "transferMode": {
            "type": "string",
            "enum": ["driving", "transit"],
            "default": "driving"
          }
        }
      },
      "EnsureFlightCustomerInput": {
        "type": "object",
        "properties": {
          "clerkUserId": {
            "type": "string",
            "description": "Traveler Clerk user id."
          },
          "tenantId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "givenName": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string",
            "description": "E.164 phone number."
          },
          "preferredLanguage": {
            "type": "string",
            "description": "BCP-47 language tag for Travel Support Assistant replies."
          }
        }
      },
      "ListFlightAncillariesInput": {
        "type": "object",
        "required": ["offerId"],
        "properties": {
          "offerId": {
            "type": "string",
            "description": "Flight offer id (off_…)."
          },
          "maxSeats": {
            "type": "integer",
            "default": 24,
            "minimum": 1,
            "maximum": 48
          }
        }
      },
      "FindAirportsNearbyInput": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string",
            "description": "Free-form place name, IATA code, or airline."
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "radiusMeters": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 500000,
            "default": 100000
          },
          "maxResults": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20,
            "default": 8
          }
        }
      },
      "DisplayOfferConditionsInput": {
        "type": "object",
        "required": ["offerId"],
        "properties": {
          "offerId": {
            "type": "string"
          }
        }
      },
      "QuoteStayInput": {
        "type": "object",
        "required": ["rateId"],
        "properties": {
          "rateId": {
            "type": "string"
          }
        }
      },
      "BookStayInput": {
        "type": "object",
        "required": ["quoteId", "email", "guests"],
        "properties": {
          "quoteId": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phoneNumber": {
            "type": "string"
          },
          "guests": {
            "type": "array",
            "minItems": 1,
            "maxItems": 9,
            "items": {
              "type": "object",
              "required": ["givenName", "familyName"],
              "properties": {
                "givenName": {
                  "type": "string"
                },
                "familyName": {
                  "type": "string"
                },
                "bornOn": {
                  "type": "string",
                  "description": "ISO date"
                },
                "customerUserId": {
                  "type": "string"
                }
              }
            }
          },
          "loyaltyProgrammeAccountNumber": {
            "type": "string"
          },
          "accommodationSpecialRequests": {
            "type": "string",
            "maxLength": 1000
          },
          "additionalCustomerUserIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CancelOrderQuoteInput": {
        "type": "object",
        "required": ["orderId"],
        "properties": {
          "orderId": {
            "type": "string"
          }
        }
      },
      "ConfirmCancelOrderInput": {
        "type": "object",
        "required": ["cancellationId"],
        "properties": {
          "cancellationId": {
            "type": "string"
          }
        }
      },
      "RequestOrderChangeInput": {
        "type": "object",
        "required": ["orderId", "slices"],
        "properties": {
          "orderId": {
            "type": "string"
          },
          "slices": {
            "type": "object",
            "required": ["add", "remove"],
            "properties": {
              "add": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["origin", "destination", "departure_date"],
                  "properties": {
                    "origin": {
                      "type": "string"
                    },
                    "destination": {
                      "type": "string"
                    },
                    "departure_date": {
                      "type": "string"
                    },
                    "cabin_class": {
                      "type": "string",
                      "enum": ["economy", "premium_economy", "business", "first"]
                    }
                  }
                }
              },
              "remove": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": ["slice_id"],
                  "properties": {
                    "slice_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SelectOrderChangeOfferInput": {
        "type": "object",
        "required": ["offerId"],
        "properties": {
          "offerId": {
            "type": "string"
          }
        }
      },
      "ConfirmOrderChangeInput": {
        "type": "object",
        "required": ["changeId", "payment"],
        "properties": {
          "changeId": {
            "type": "string"
          },
          "payment": {
            "type": "object",
            "required": ["type", "amount", "currency"],
            "properties": {
              "type": {
                "type": "string",
                "enum": ["balance", "arc", "card"]
              },
              "amount": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              }
            }
          }
        }
      },
      "ListAirlineCreditsInput": {
        "type": "object",
        "properties": {
          "clerkUserId": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "customerUserId": {
            "type": "string"
          },
          "limit": {
            "type": "integer",
            "default": 20,
            "minimum": 1,
            "maximum": 50
          }
        }
      },
      "ManageStaysNegotiatedRateInput": {
        "type": "object",
        "required": ["action"],
        "properties": {
          "action": {
            "type": "string",
            "enum": ["create", "update", "delete"]
          },
          "negotiatedRateId": {
            "type": "string",
            "description": "Required for update + delete (nre_…)."
          },
          "displayName": {
            "type": "string"
          },
          "rateAccessCode": {
            "type": "string"
          },
          "accommodationIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 500
          }
        }
      },
      "FaucetDripInput": {
        "type": "object",
        "required": ["address"],
        "properties": {
          "address": {
            "type": "string",
            "description": "Destination EOA / MSCA / contract address."
          },
          "blockchain": {
            "type": "string",
            "enum": ["ARC-TESTNET", "ETH-SEPOLIA", "AVAX-FUJI", "MATIC-AMOY"],
            "default": "ARC-TESTNET"
          },
          "token": {
            "type": "string",
            "enum": ["USDC", "EURC"],
            "default": "USDC"
          }
        }
      },
      "ScanDocumentInput": {
        "type": "object",
        "required": ["kind"],
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["invoice", "receipt", "boarding_pass", "id_document"]
          },
          "documentUrl": {
            "type": "string",
            "format": "uri"
          },
          "data": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "companyName": {
            "type": "string"
          }
        }
      },
      "CheckTravelEligibilityInput": {
        "type": "object",
        "required": ["travelerUserId", "originIso3", "destinationIso3", "departureDate", "purpose"],
        "properties": {
          "travelerUserId": {
            "type": "string"
          },
          "originIso3": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          },
          "destinationIso3": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3
          },
          "departureDate": {
            "type": "string"
          },
          "returnDate": {
            "type": "string"
          },
          "purpose": {
            "type": "string",
            "enum": ["business", "leisure", "transit", "study", "medical"]
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Search"
    },
    {
      "name": "Bookings"
    },
    {
      "name": "Treasury"
    },
    {
      "name": "Settlement"
    },
    {
      "name": "Utilities"
    },
    {
      "name": "Trip assistance"
    },
    {
      "name": "Compliance"
    },
    {
      "name": "Documents"
    }
  ],
  "paths": {
    "/api/agent/dispatch#search_flights": {
      "post": {
        "operationId": "search_flights",
        "summary": "Search flights between two airports.",
        "description": "Search flights between two airports. Requires IATA codes and a departure date (YYYY-MM-DD). Supports corporate private fares + corporate loyalty programmes via `privateFares`, leisure private fares via per-passenger `leisureFareTypes`, per-passenger loyalty accounts, and airline-credit matching via `airlineCreditIds` or `linkSessionTraveler`.",
        "tags": ["Search"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["search_flights"],
                    "description": "Must be exactly `search_flights` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SearchFlightsInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#book_flight": {
      "post": {
        "operationId": "book_flight",
        "summary": "Book a flight for the signed-in user: ensures the traveler identity exists with the supplier, creates a hold order (with any ancillary se…",
        "description": "Book a flight for the signed-in user: ensures the traveler identity exists with the supplier, creates a hold order (with any ancillary services attached), and pays from the pre-funded balance — optionally splitting payment with a traveler airline credit. Returns the PNR + order id. The traveler automatically gets Travel Support Assistant access through their linked identity. Passenger identity comes from the signed-in Clerk session — do not ask the user for name, email, or phone.",
        "tags": ["Bookings"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["book_flight"],
                    "description": "Must be exactly `book_flight` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/BookFlightInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#search_hotels": {
      "post": {
        "operationId": "search_hotels",
        "summary": "Search hotels in a city for given dates.",
        "description": "Search hotels in a city for given dates. Returns up to 6 accommodations with real photos, star rating, review score, cheapest rate, and cancellation policy. Use when the user asks for lodging.",
        "tags": ["Search"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["search_hotels"],
                    "description": "Must be exactly `search_hotels` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SearchHotelsInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#check_treasury": {
      "post": {
        "operationId": "check_treasury",
        "summary": "Check Circle treasury USDC/EURC balance on Arc.",
        "description": "Check Circle treasury USDC/EURC balance on Arc. Use when the user asks about funds.",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["check_treasury"],
                    "description": "Must be exactly `check_treasury` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/CheckTreasuryInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#gateway_balance": {
      "post": {
        "operationId": "gateway_balance",
        "summary": "Return the treasury USDC unified balance across every Gateway-supported testnet (Arc, Ethereum Sepolia, Base Sepolia, Avalanche Fuji, etc.).",
        "description": "Return the treasury USDC unified balance across every Gateway-supported testnet (Arc, Ethereum Sepolia, Base Sepolia, Avalanche Fuji, etc.). Fast — queries Circle Gateway API.",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["gateway_balance"],
                    "description": "Must be exactly `gateway_balance` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/GatewayBalanceInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#gateway_transfer": {
      "post": {
        "operationId": "gateway_transfer",
        "summary": "Pull USDC from any Gateway-supported chain and mint it on Arc Testnet (or any other Gateway chain) in sub-500ms.",
        "description": "Pull USDC from any Gateway-supported chain and mint it on Arc Testnet (or any other Gateway chain) in sub-500ms. Server signs the burn intent, Circle attests, destination mints. Use when Arc liquidity is short.",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["gateway_transfer"],
                    "description": "Must be exactly `gateway_transfer` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/GatewayTransferInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#swap_tokens": {
      "post": {
        "operationId": "swap_tokens",
        "summary": "Rebalance the Sendero corporate treasury on Arc Testnet by swapping USDC ↔ EURC via Circle App Kit.",
        "description": "Rebalance the Sendero corporate treasury on Arc Testnet by swapping USDC ↔ EURC via Circle App Kit. Use when the treasury lacks the right token to pay for a booking, or the user explicitly asks to swap. Returns tx hashes.",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["swap_tokens"],
                    "description": "Must be exactly `swap_tokens` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SwapTokensInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#send_tokens": {
      "post": {
        "operationId": "send_tokens",
        "summary": "Transfer USDC or EURC from the Sendero corporate treasury to any Arc Testnet address.",
        "description": "Transfer USDC or EURC from the Sendero corporate treasury to any Arc Testnet address. Use when rebalancing or topping up the user wallet.",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["send_tokens"],
                    "description": "Must be exactly `send_tokens` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SendTokensInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#bridge_to_arc": {
      "post": {
        "operationId": "bridge_to_arc",
        "summary": "Bridge USDC from any App Kit–supported chain INTO Arc Testnet via Circle CCTP.",
        "description": "Bridge USDC from any App Kit–supported chain INTO Arc Testnet via Circle CCTP. Use when Arc treasury liquidity is low. Supports EVM chains (Ethereum, Base, Polygon, Avalanche, Arbitrum, Optimism, Unichain, Linea, etc.) plus Solana — mainnet and testnet variants (see BRIDGE_CHAINS for the full list).",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["bridge_to_arc"],
                    "description": "Must be exactly `bridge_to_arc` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/BridgeToArcInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#swap_and_bridge": {
      "post": {
        "operationId": "swap_and_bridge",
        "summary": "Composed workflow: CCTP-bridge USDC from a source chain INTO Arc Testnet, then swap to EURC on Arc.",
        "description": "Composed workflow: CCTP-bridge USDC from a source chain INTO Arc Testnet, then swap to EURC on Arc. Use when a booking needs EURC but treasury only has USDC on another chain. Returns both step receipts.",
        "tags": ["Treasury"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["swap_and_bridge"],
                    "description": "Must be exactly `swap_and_bridge` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SwapAndBridgeInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#settle_split": {
      "post": {
        "operationId": "settle_split",
        "summary": "Execute a canonical commission fan-out on Arc Testnet in a single batch: gross splits atomically into supplier net + agency commission + …",
        "description": "Execute a canonical commission fan-out on Arc Testnet in a single batch: gross splits atomically into supplier net + agency commission + Sendero rail + validator tip. Pass gross + supplier address; defaults fill other parties.",
        "tags": ["Settlement"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["settle_split"],
                    "description": "Must be exactly `settle_split` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SettleSplitInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#check_policy": {
      "post": {
        "operationId": "check_policy",
        "summary": "Check a travel offer against a corporate travel policy.",
        "description": "Check a travel offer against a corporate travel policy. Returns { allowed, reasons[], warnings[] }. Cheap — call before every book.",
        "tags": ["Utilities"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["check_policy"],
                    "description": "Must be exactly `check_policy` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/CheckPolicyInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#quote_fx": {
      "post": {
        "operationId": "quote_fx",
        "summary": "FX quote for cross-currency settlements.",
        "description": "FX quote for cross-currency settlements. Pass local-currency price, get the USDC (or EURC) equivalent. Use before any off-USD booking.",
        "tags": ["Utilities"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["quote_fx"],
                    "description": "Must be exactly `quote_fx` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/QuoteFxInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#give_feedback": {
      "post": {
        "operationId": "give_feedback",
        "summary": "Record a 1-5 star rating for a counterparty on the ERC-8004 ReputationRegistry on Arc.",
        "description": "Record a 1-5 star rating for a counterparty on the ERC-8004 ReputationRegistry on Arc. Cross-rating: the rater's own DCW signs (not Sendero treasury), so the on-chain trust graph is a true peer graph. Self-rating is rejected. Score mapping: stars × 20.",
        "tags": ["Trip assistance"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["give_feedback"],
                    "description": "Must be exactly `give_feedback` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/GiveFeedbackInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#read_reputation": {
      "post": {
        "operationId": "read_reputation",
        "summary": "Read aggregated ERC-8004 reputation for a Sendero org, user, or any on-chain agent NFT.",
        "description": "Read aggregated ERC-8004 reputation for a Sendero org, user, or any on-chain agent NFT. Cache-first (~50ms) with chain RPC fallback for external agents. Returns mean stars 0-5, feedback count, validator count, validation count, and the most-recent feedback rows.",
        "tags": ["Trip assistance"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["read_reputation"],
                    "description": "Must be exactly `read_reputation` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/ReadReputationInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#request_validation": {
      "post": {
        "operationId": "request_validation",
        "summary": "Open an ERC-8004 ValidationRegistry request asking a specific validator address to attest something (KYC, KYB, suitability) about an agen…",
        "description": "Open an ERC-8004 ValidationRegistry request asking a specific validator address to attest something (KYC, KYB, suitability) about an agent NFT. Returns the requestHash; pair with submit_validation_response.",
        "tags": ["Compliance"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["request_validation"],
                    "description": "Must be exactly `request_validation` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/RequestValidationInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#submit_validation_response": {
      "post": {
        "operationId": "submit_validation_response",
        "summary": "Validator-side response to a pending ERC-8004 ValidationRegistry request.",
        "description": "Validator-side response to a pending ERC-8004 ValidationRegistry request. response=100 means passed, 0 means failed. Updates the off-chain ValidationCheck row.",
        "tags": ["Compliance"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["submit_validation_response"],
                    "description": "Must be exactly `submit_validation_response` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/SubmitValidationResponseInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "latencyMs": {
                      "type": "number"
                    },
                    "priceMicroUsdc": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key."
          },
          "402": {
            "description": "Tenant spend cap exceeded."
          },
          "404": {
            "description": "Tool or tenant not found."
          },
          "500": {
            "description": "Tool execution failed."
          }
        }
      }
    },
    "/api/agent/dispatch#read_validation": {
      "post": {
        "operationId": "read_validation",
        "summary": "Read the verdict of an ERC-8004 ValidationRegistry check by its requestHash.",
        "description": "Read the verdict of an ERC-8004 ValidationRegistry check by its requestHash. Returns 100=passed, 0=failed, null=pending.",
        "tags": ["Compliance"],
        "security": [
          {
            "ClerkApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tenantId", "tool", "args"],
                "properties": {
                  "tenantId": {
                    "type": "string",
                    "description": "The calling tenant's id (tenant_...)."
                  },
                  "userId": {
                    "type": "string",
                    "description": "Optional subject for the call; omitted in service-account mode (we use svc:${keyId} automatically)."
                  },
                  "tool": {
                    "type": "string",
                    "enum": ["read_validation"],
                    "description": "Must be exactly `read_validation` for this operation."
                  },
                  "args": {
                    "$ref": "#/components/schemas/ReadValidationInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": true
                    },
[...]
